<section class="blue-section" id="footer">
    <div class="bottom-container social-footer">
      <a href="https://www.facebook.com/marcus.charles.90?epa=SEARCH_BOX"><button type="btn" name="button" class="btn btn-link"><i class="footer-icon fab fa-facebook-f"></i></button></a>
      <a href="https://www.instagram.com/marcuscharles/"><button type="btn" name="button" class="btn btn-link"><i class="footer-icon fab fa-instagram"></i></button></a>
      <a href="https://twitter.com/marcuscharles_"><button type="btn" name="button" class="btn btn-link"><i class="footer-icon fab fa-twitter"></i></button></a>
      <a href="https://vm.tiktok.com/JdJYtkj/"><button type="btn" name="button" class="btn btn-link"><i class="footer-icon fab fa-tiktok"></i></button></a>
      <a href="https://www.youtube.com/channel/UCIR4P4g_OYhuDbU59iRl_WA"><button type="btn" name="button" class="btn btn-link"><i class="footer-icon fab fa-youtube"></i></button></a>
      <p class="copyright">© <%= new Date().getFullYear() %> @Notty. </p>
    </div>
  </section>

</body>

</html>