<%- include("partials/header.ejs") %>

  <section class="orange-section" id="featured-videos">
    <div class="featured-videos-title">
      <h1>Featured Videos</h1>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <iframe class="youtube-video" width="100%" height="315vh" src="https://www.youtube.com/embed/3hPeYSLEkNw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
          <iframe class="youtube-video" width="100%" height="315vh" src="https://www.youtube.com/embed/ntBIX822j4E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <iframe class="youtube-video" width="100%" height="315vh" src="https://www.youtube.com/embed/GAEyfnKn40I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
          <iframe class="youtube-video" width="100%" height="315vh" src="https://www.youtube.com/embed/aHgxK9sj-OI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>

  <%- include("partials/footer.ejs") %>

