<%- include("partials/header.ejs") %>

    <!-- Title -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <a href="https://www.youtube.com/channel/UCXuw4z80iylJ5F0s5ZpRBPg?view_as=subscriber">
            <h1>Notty</h1>
          </a>
        </div>
        <div class="col-lg-6">
          <p>Hi _________________________,
            <br> My name's Kenny. Come reminisce with me about my past.
            My videos are somewhat animations about
            funny things that happened in my life
            and all the different often ridiculous
            thoughts that go through my mind.
            I hope you have fun watching them!!</p>
        </div>
      </div>
    </div>
  </section>

  <section class="blue-section" id="social-media">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 socials-title">
          <h1>Socials:</h1>
        </div>
        <div class="col-lg-6 socials">
          <a href="https://www.facebook.com/marcus.charles.90?epa=SEARCH_BOX"><button type="btn" name="button" class="btn btn-link"><i class="social-icon fab fa-facebook-f fa-2x"></i></button></a>
          <a href="https://www.instagram.com/marcuscharles/"><button type="btn" name="button" class="btn btn-link"><i class="social-icon fab fa-instagram fa-2x"></i></button></a>
          <a href="https://twitter.com/marcuscharles_"><button type="btn" name="button" class="btn btn-link"><i class="social-icon fab fa-twitter fa-2x"></i></button></a>
          <a href="https://vm.tiktok.com/JdJYtkj/"><button type="btn" name="button" class="btn btn-link"><i class="social-icon fab fa-tiktok fa-2x"></i></button></a>
          <a href="https://www.youtube.com/channel/UCIR4P4g_OYhuDbU59iRl_WA"><button type="btn" name="button" class="btn btn-link"><i class="social-icon fab fa-youtube fa-2x"></i></button></a>
        </div>
        <div class="col-lg-3 socials-handle">
          <h1>@Notty</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="orange-section" id="favorite-videos">
    <div class="favorite-videos-title">
      <h1>Favorite Videos</h1>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <iframe class="youtube-video" width="100%" height="315vh" src="https://www.youtube.com/embed/GAEyfnKn40I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
          <iframe class="youtube-video" width="100%" height="315vh" src="https://www.youtube.com/embed/aHgxK9sj-OI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>


  <%- include("partials/footer.ejs") %>



